1 ICON "icon.ico"

// ytdownloader.rc
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  // Language & charset (US English + Unicode)
        BEGIN
            VALUE "CompanyName",     "Ash Industries"
            VALUE "FileDescription", "YouTube TUI Downloader"
            VALUE "FileVersion",     "3.0.0.5"
            VALUE "InternalName",    "ytdownloader"
            VALUE "OriginalFilename","ytdownloader.exe"
            VALUE "ProductName",     "YT Downloader TUI"
            VALUE "ProductVersion",  "3.0.0.0"
            VALUE "LegalCopyright",  "Ash Copyright© 2025"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
